<h2 mat-dialog-title style="background-color:#003768">Install Angular</h2>
<mat-dialog-content>
  <div >
    <input type="text" placeholder="Enter username" >
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" tabindex="1">Install</button>
  <button mat-button mat-dialog-close tabindex="-1">Cancel</button>
</mat-dialog-actions>


<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->