<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink='/'>Tweet App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item">
            <a class="nav-link" routerLink='/login' routerLinkActive='active'>Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/register' routerLinkActive='active'>Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/tweets' routerLinkActive='active'>Tweets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/users' routerLinkActive='active'>All Users</a>
          </li>
          
        </ul>
        <div class="form-inline mt-2 mt-md-0">
         
          <a style="color:white;cursor:pointer" ><img src="assets/outline_logout_white_24dp.png">Logout</a>
        </div>
      </div>
    </div>
  </nav>